Still dont have an account yet? <br>
<h2>Register as </h2>

<%= link_to "Runner", '/runners/sign_up', class: 'btn btn-outline-success my-2 my-sm-0', style: 'float-right' %>

<%= link_to "Juan", '/juans/sign_up', class: 'btn btn-outline-success my-2 my-sm-0', style: 'float-right' %>